{% extends "cms/base.html" %}
{% load cms_tags %}
{% load crispy_forms_tags %}
{% load placeholder_tags %}
{% load static %}

{% block head_block %}
<link rel="stylesheet" href="{% static "myBlog/css/blog.css" %}">
{% endblock %}

{% block body_block %}

<div class='blog_post_wrapper'>
    <div class='runner'>
        <div class='container my_container'>
            <div class='transition_bar'><div class='transition_box'></div><h3>Things to know about your website</h3></div>
        </div>
    </div>
    <div class='blog_post_contents container my_container'>
        <div class='blog_post_article'>
            <a class='blog_home_post_image' href='/blog/{{ post.slug }}'>
                <img src='/media/{{ post.main_image }}' alt='{% if post.image_alt %} {{post.image_alt}} {% else %} blog main image {% endif %}'></img>
            </a>
            <h1 class='article_title'>{{ post.title }}</h1>
            <div class='blog_byline'>
                <p style='float: left;' class='blog_author'>{{ post.author.first_name }} {{ post.author.last_name }} on {{ post.created_on | date:"M d, 'y" }}</p>
                <div class='blog_social'></div>
            </div>
            <div class='blog_text'>{% render_placeholder post.content %}</div>
        </div>
        {% comment %}

        {% if post.comment_set.all %}
        <h2>Comments</h2>
        <div class="comments">
            {% for comment in post.comment_set.all %}
                <span>
                    <a href="{{ comment.website }}">{{ comment.name }}</a> said on {{ comment.created_on }}
                </span>
                <p>
                    {{ comment.content }}
                </p>
            {% endfor %}
        </div>
        {% endif %}

        <br />

        <h2>Add Comment</h2>

        <form action="" method="POST" class='comment_form'>
            {% csrf_token %}
            {{ comment_form | crispy }}
            <input type="submit" name="submit" value="Submit" />
        </form>

        {% endcomment %}
    </div>
</div>


{% endblock body_block %}