{% extends "cms/base.html" %}
{% load cms_tags %}
{% load static %}

{% block head_block %}
<link rel="stylesheet" href="{% static "myBlog/css/blog.css" %}">
{% endblock %}

{% block body_block %}

<div class='blog_home_wrapper'>
	<div class='runner'>
		<div class='container my_container'>
			<div class='transition_bar'><div class='transition_box'></div><h3>Things to know about your website</h3></div>
		</div>
	</div>
	<div class='blog_home_contents container my_container'>
		{% for post in blog_list %}
		<div class='blog_home_article'>
			<a class='blog_home_post_image' href='/blog/{{ post.slug }}'>
				<img src='/media/{{ post.main_image }}' alt='{% if post.image_alt %} {{post.image_alt}} {% else %} blog main image {% endif %}'>
			</a>
			<h1 class='article_title'>{{ post.title }}</h1>
			<p class='blog_author'>{{ post.author.first_name }} {{ post.author.last_name }} on {{ post.created_on | date:"M d, 'y" }}</p>
			<span class='tease_text'>{{ post.tease | safe }}</span>
			<a href='/blog/{{ post.slug }}' class="article_continue_button">Continue reading</a>
		</div>
		{% endfor %}
		<div style='height:40px'></div>
	</div>
</div>

{% endblock %}