<div class='row page_content page_bottom container-fluid'>
		<div class='col-md-6 left_footer_col'>
			<h2>Testimonials</h2>
			<blockquote>{{ default_testimonial }}</blockquote>
		</div>
		<div class='col-md-6 right_footer_col'>
			<div>
				<h2 style='text-align:right;'>{{ unique_content_title }}</h2>
				<p style='text-align:right;'>{{ unique_content_text }}</p>
				<div style='text-align:right;'>
					<a href='{% url unique_content_link_name %}' type="button" class="btn btn-danger">{{ unique_content_button_text }}</a>
				</div>
			</div>
		</div>
	</div>