<div class='right_sidebar' style='width:100%'>
	{% comment %}
	<h3 style='text-align:center'>Persuade your visitors to take action</h3>
	<br />
	<button type='button' class='btn btn-danger btn-block' style='width:80%; white-space:normal; margin: 0 auto;'>This can be a resource, a form, or a link to an important page</button>
	<br />
	<h3 style='text-align:center'>Always be moving your vistors to a revenue generating page</h3>
	<br />
	<button type='button' class='btn btn-danger btn-block' style='width:80%; white-space:normal; margin: 0 auto;'>This can be a resource, form, or link to an important page</button>
	{% endcomment %}
	<br />
	<h3 style='text-align:center'>Consider integrating a social media campaign</h3>
	{% include 'misc_pages/social_links.html' %}
	<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="200" data-layout="standard" data-action="like" data-show-faces="true" data-share="true" style="position:absolute;right:15%;"></div>
</div>