{% extends 'cms/base.html' %}
{% load crispy_forms_tags %}
{% load cms_tags %}
{% load static %}

{% block head_block %}
<title>Edit Account Information</title>
<meta name='description' content='Edit your contact information'>
{% endblock %}

{% block css_block %}
<link rel="stylesheet" href="{% static "myProfiles/css/profiles.css" %}">
{% endblock %}

{% block body_block %}

<div class='edit_profile_wrapper'>
	<div class='runner'>
		<div class='container my_container'>
			<div class='transition_bar'><div class='transition_box'></div><h1>Edit {{profile.company}} Contact Info</h1></div>
		</div>
	</div>
	<div class='account_home_contents container my_container'>
		<form role="form" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			{{ form|crispy }}
			<button type="submit" name="profile" class="btn blue_btn">Save Changes</button>
		</form>
	</div>
</div>
{% endblock body_block %}