/* Components */

html, body {
	font-size: 16px;
}

body {
	color: #222222;
	padding: 0;
	margin: 0;
	font-family: "Roboto Slab", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	line-height: 1;
	position: relative;
	cursor: default;
}

p {
	line-height: 1.6;
}

input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px transparent inset;
    -webkit-text-fill-color: #333;
}
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px transparent inset;
    -webkit-text-fill-color: #333;
}
.error_field input::-webkit-input-placeholder { /* WebKit browsers */
    color: #ee4b39!important;
    font-size: 1.1em;
}

.error_field input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #ee4b39!important;
	opacity:  1;
	font-size: 1.2em;
}

.error_field input::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #ee4b39!important;
	opacity:  1;
}

.error_field input:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: #ee4b39!important;
}

.caret_down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: relative;
  border-top: 5px solid #bbb;
  padding: 0;
  margin: 0 auto -6px;
  text-align: center;
  display: block;
}

.mycaret {
  position: absolute;
  top: 13px;
  right: -6px;
}

.col {
	float:left;
}

.horizontal_ul {
	display: table;
	width: 100%;
	table-layout: fixed;
}

.horizontal_ul li {
	display: table-cell;
}

.horizontal_ul a {
	display: block;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

.fa-twitter {
	color: #55acee;
}

.fa-google-plus {
	color: #dd4b39;
}

.fa-facebook {
	color: #3b5998;
}

#myCarousel .carousel-control {
	background: transparent!important;
	top: 200px;
	height: 20px;
	width: 0;
}

#myCarousel .carousel-inner {
	width:90%;
	margin: 0 auto;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
	color: #80A2C0;
}

.custom-logo img {
	max-width: 140px;
}

.nav_logo_seo {
	font-size: 9px;
	margin: 0 0 0 1px;
}

/* modifiers*/

.no_pad {
	padding: 0;
}

.shadow {
	-moz-box-shadow: 0 -2px 10px 2px #111;
	-webkit-box-shadow: 0 -2px 10px 2px #111;
	box-shadow: 0 -2px 10px 2px #111;
}

textarea:focus, input:focus{
    outline: 0;
}

/* Navbar */

.menu_toggle_text {
	color: #fff;
	font-weight: 300;
}

.navbar-toggle {
	background-color: #2792f2;
}

.navbar_top {
	height: 8px;
	background-color: #2792f2;
}

.navbar {
	background-color: #fff;
	border-bottom: 1px solid #ddd;
}

.navbar .custom-logo img {
	margin: 7px 0 0;
}

.navbar ul li a {
	line-height: 56px;
	padding: 0 20px;
	font-size: 0.9em;
	font-family: 'Noto Sans';
	text-shadow: none!important;
}

.nav-tabs li a {
	border: none!important;
}

.navbar ul li a:link, .navbar ul li a:visited {
	color: #0E385D;
}

.navbar ul li a:hover, .navbar ul li a:active {
	color: #fff;
	background-color: #2792f2;
}

/* Hero */

.hero {
	margin-top: 68px;
}

.hero_btn, .contact_form button, .call_me_now_button {
	position: absolute;
	background: #2792f2;
	color: #ddd;
	font-weight: 300;
	box-shadow: 0px 1px 3px #616161;
	z-index: 100;
}

.hero_btn:hover, .contact_form button:hover, .call_me_now_button:hover {
	background: #0570d0;
	text-decoration: none;
	color: #ddd;
}

.call_me_now_button {
	position: fixed;
	bottom: 10px;
	right: 20px;
	height: 40px;
	width: 120px;
	margin: 0 auto;
	padding: 12px 0;
	text-align: center;
	display:none;
}

/*  Portfolio */

#portfolio #portfolio_nav {
	margin: 60px auto 0;
}

#portfolio_right {
	text-align: center;
	margin-top: 40px;
}

#portfolio .nav-pills li a {
    border-radius: 5px;
	margin-top:0;
	color: #0E385D;
	font-size: 12px;
	border: 1px solid #ddd;
}

#portfolio_right .tab-pane img {
	max-height: 306px;
	margin: 0 auto;
}

#portfolio .showcase_subtitle {
	padding: 8px 0 10px;
	margin-top: 45px;
	border-top: 5px solid #3A74A8;
	border-bottom: 1px solid #ccc;
	font-style: italic;
	font-size: 18px;
	color: #666;
	font-weight: 300;
	font-family: 'Roboto Condensed';
}

#portfolio #integration_nav .showcase_subtitle, #portfolio #revenue_nav .showcase_subtitle {
	padding: 10px 0;
	margin-top: 0px;
	font-style: italic;
  	color: #666;
}

#portfolio #integration_nav .active .showcase_subtitle, #portfolio #revenue_nav .active .showcase_subtitle {
	border-top: 30px solid #3A74A8;
	margin-top: -25px;
	border-radius: 5px 5px 0 0;
}

#portfolio #integration_nav a, #portfolio #revenue_nav a {
	color: #ddd;
}

#portfolio #integration_nav a:hover, #portfolio #integration_nav .active a, #portfolio #revenue_nav a:hover, #portfolio #revenue_nav .active a {
	background: none;
	color: #444;
}

#portfolio h4 {
	text-align: left;
	font-size: .8em;
	line-height: 1.5;
	color: #333;
	font-family: 'Noto Sans';
	font-weight: 900;
}

#portfolio p, #portfolio ul {
	text-align: left;
	font-size: 13px;
	line-height: 1.5;
	font-family: 'Noto Sans';
	font-weight: 100;
	margin-top: 10px;
}

#portfolio #integration_nav .showcase_col p, #portfolio #integration_nav .showcase_col ul, #portfolio #revenue_nav .showcase_col p, #portfolio #revenue_nav .showcase_col ul {
	margin-top: 10px;
}

#integration_nav, #revenue_nav {
	margin-top:30px;
}

/* Services */

#services {
	/*border-bottom: 5px solid #ccc;	*/
	box-shadow: 0 0 8px 3px #bbb;
	-moz-box-shadow: 0 0 8px 3px #bbb;
	-webkit-box-shadow: 0 0 8px 3px #bbb;
	background-image: url("../images/para_diag.jpg");
	/*height: 700px;*/
}

#services_nav li a {
	background-image: url("../images/crosshatch.jpg")
}

/* About */

#about_content {
	background-image: url("../images/crosshatch.jpg")
}

/* Contact */

#contact {
	background-image: url("../images/crosshatch.jpg");
}

#contact_content {
	display:flex;
	margin-top: 30px;
	margin-bottom: 30px;
	font-family: 'Noto Sans';
}

#contact_content h4 {
	color: #ddd;
	font-size: 15px;
	margin: 0 0 4px;
	font-weight: 300;
}

#contact_content p, #contact_content a {
	color: #7E93A6;
	margin: 0 0 0px;
}

#contact_content .contact_item {
	margin-bottom: 25px;
}

#contact .message_sent_redirect {
	background: url("../images/Computer-Nerd.png") center center no-repeat;
	background-size: contain;
	width:100%;
	height:400px;
}

#contact_content form {
	margin-top: 10px;
}

#contact .contact_form input {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #444;
	width:90%;
	line-height: 30px;
	font-size: 14px;
	font-style: italic;
	color: #ddd;
	display: inline;
	margin: 10px 0 0;
	padding-bottom: 10px;
	padding-left: 5px;
}

#contact .contact_form .form_icon {
  	background-color: transparent;
  	display: inline;
  	float:left;
}

.form_icon.form_name {
	height: 25px;
  	width: 24px;
	margin: 15px 20px 0 0 ;
}

.form_icon.form_email {
	height: 25px;
  	width: 24px;
	margin: 16px 19px 0 1px;
}

.form_icon.form_phone {
	height: 25px;
  	width: 24px;
	margin: 13px 15px 0 5px;
}

.form_icon.form_message {
	height: 25px;
  	width: 24px;
	margin: 17px 13px 0 7px;
}

#contact .contact_form button {
  margin: 25px 0 0 0;
  font-size: 12px;
  color: #fff;
  font-weight: 400;
  letter-spacing: 0px;
  text-transform: uppercase;
  float: right;
  width: 158px;
  height: 57px;
  border: 1px solid #fff;
  -moz-box-shadow: 0 0 10px 4px #444;
  -webkit-box-shadow: 0 0 10px 4px #444;
  box-shadow: 0 0 10px 4px #444;
  border-radius: 2px;
  text-shadow: 0 1px 1px #999;
  font-style: normal;
  position: relative;
/*  background: #bdc836;
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #B8C134),color-stop(1, #B3BC32));
  background-image: -o-linear-gradient(bottom, #B8C134 0%, #B3BC32 100%);
  background-image: -moz-linear-gradient(bottom, #B8C134 0%, #B3BC32 100%);
  background-image: -webkit-linear-gradient(bottom, #B8C134 0%, #B3BC32 100%);
  background-image: -ms-linear-gradient(bottom, #B8C134 0%, #B3BC32 100%);
  background-image: linear-gradient(to bottom, #B8C134 0%, #B3BC32 100%);  */
}

#contact .contact_form button:hover, #contact .contact_form button:active {
/*  background: #acb725;
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #a7b023),color-stop(1, #a2ab21));
  background-image: -o-linear-gradient(bottom, #a7b023 0%, #a2ab21 100%);
  background-image: -moz-linear-gradient(bottom, #a7b023 0%, #a2ab21 100%);
  background-image: -webkit-linear-gradient(bottom, #a7b023 0%, #a2ab21 100%);
  background-image: -ms-linear-gradient(bottom, #a7b023 0%, #a2ab21 100%);
  background-image: linear-gradient(to bottom, #a7b023 0%, #a2ab21 100%);*/
}

.form_icon.form_name {
	background: url("../images/person_icon.png") no-repeat;	
}

.form_icon.form_email {
	background: url("../images/at_icon.png") no-repeat;	
}

.form_icon.form_phone {
	background: url("../images/phone_icon.png") no-repeat;	
}

.form_icon.form_message {
	background: url("../images/question_icon.png") no-repeat;	
}

/* Footer */

.footer_wrapper {
	padding: 0 0 30px;
}

.footer_content {
	display:flex;
	padding: 10px 0;	
	box-shadow: 0px 2px 15px 8px #333
	-moz-box-shadow: 0px 2px 15px 8px #333
	-webkit-box-shadow: 0px 2px 15px 8px #333
}

.footer_social {
	margin-top: 14px;
}

.footer_copyright {
	margin-top: 10px;
	text-align: right;
	font-size: 12px;
	color: #666;
}

#footer .custom-logo img {
	margin-top: 3px;
}

@media (max-width: 319px){
	#contact .contact_form .form_icon {
		display: none;
	}
}

@media (max-width: 480px){

	.hero {
		height: 430px;
		background: url("../images/looking_up_sm_final.jpg") center 30px no-repeat;
	}

	.hero_btn {
		position:relative;
		font-size: 1.0em;
		padding: 15px 0;
		margin: 150px auto 0;
		display: block;
		width: 180px;
		text-align: center;
	}

	.about_hero {
		background: none;
		height: 0px;
	}

	.call_me_now_button {
		display:block;
	}
}

@media (min-width: 481px) and (max-width: 767px) {
	.hero {
		height: 337px;
		background: url("../images/computer_nerds_767_final.jpg") center 30px no-repeat;
	}

	.hero_btn {
		font-size: 1.1em;
		padding: 15px 20px;
		top: 165px;
		left: 38%;
	}

	.about_hero {
		background: none;
		height: 0;
		margin: 0;
	}
}

@media (max-width: 767px) {

	.break_style_1 {
		height: 30px;
		margin-top: -7px;
		border-bottom: 1px solid #ccc;
		background-image: url("../images/para_diag.jpg");
	}

	.my_container {
		width: 100%;
		padding: 0 15px;
	}

	.col {
		float: none;
	}

	.half_col {
		width:100%;
		padding: 0;
		margin: 0;
	}

	.third_col {
		width: 100%;
		padding: 0;
		margin: 0;
	}

	.two_thirds_col {
		width: 100%;
		padding: 0;
		margin: 0;
	}

	.one_quarter_col {
		width:100%;
		padding: 0;
		margin: 0;
	}

	.three_quarter_col {
		width:100%;
		padding: 0;
		margin: 0;
	}

	.transition_bar {
		background: transparent;
		float: none;
	}

	.transition_box {
		background: #2792f2;
		width: 20px;
		height: 25px;
		margin: 8px 15px 0 5px;
		float: left;
	}

	.transition_bar h3 {
		color: #5f7f9f;
		font-style: italic;
		font-size: 20px;
		font-family: 'Roboto Condensed';
		font-weight: 300;
		padding: 10px 0 0;
		margin: 0px 0 0 30px;
	}

	.mycaret, .caret_down {
		display: none!important;
	}

/* navbar */

	.navbar .custom-logo img {
		margin: 5px 0 0 10px;
	}

	.nav_logo_seo {
		margin-left: 11px;
	}

	.navbar ul li {
		border-bottom: 1px solid white;
	}

	.navbar ul li.last {
		border-bottom: none;
	}

	.navbar ul li a:link, .navbar ul li a:visited {
		color: #6f9ebf;
		background-color: #444;
	}

	.navbar ul li a:hover, .navbar ul li a:active {
		color: #fff;
		background-color: #2792f2;
	}

	.navbar-nav {
		margin-top: 0;
		margin-bottom: 0;
	}

	/* portfolio */

	#portfolio {
		margin-bottom: 40px;
		padding-top: 60px;
	}
	
	#portfolio .half_col {
		margin: 0;
	}

	#portfolio_right {
		margin-top: 20px;
	}

	#portfolio #portfolio_nav {
		margin: -35px 0 0 120px;
	}

	#portfolio_right .tab-pane img {
		max-width:80%;
	}

	#portfolio .nav-pills li {
		float: none;
		margin: 3px auto;
		min-width: 140px;
		width: 40%;
		text-align: center;
	}

	#portfolio .nav-pills li.last {
		margin-bottom:0px;
	}

	#portfolio li p {
		display: none;
	}

	#portfolio li.active p {
		display: block;
	}

	#portfolio .nav-pills li.active a {
		border: 1px solid #bbb;
		border-bottom: 8px solid #2792f2;
		padding-top:13px;
		height: 50px;
		background: none!important;
		color: #001931;
	}

	#portfolio .showcase_subtitle {
		margin-top: 15px;
	}

	/* services */

	#services_nav {
		display:none;
	}

	#services_carousel_small {
		margin-top: 30px;
	}

	#services .carousel-control {
		background: transparent;
		top: 0;
		width: 40px;
	}

	#services .my_container {
		height: 340px;
		padding-top: 60px;
	}

	.services_text {
		display: none;
	}

	.services_subtitle {
		font-size: 24px;
		font-weight: 300;
		font-style: italic;
		font-family: 'Roboto Condensed';
		margin-bottom:20px;
	}

	.services_bullets {
		padding-left: 20px;
		margin-left: 40px;
		margin-top: 20px;
		border-left: 1px solid #aaa;
	}

	.services_bullets .services_bullets_text {
		font-size: 16px;
		line-height: 30px;
		color: #13283B;
		font-weight: 300;
		margin-bottom: 0;
		font-family: 'Roboto Slab', serif;
	}

	.services_carousel_slide_header {
		margin-bottom: 10px;
		font-size: 18px;
		color: #13283B;
		font-weight: 300;
		margin-bottom: 0;
		font-family: 'Roboto Slab', serif;
	}

	#services .tab-content {
		display:none;
	}

	#services_nav li {
		width:40%;
		min-width: 140px;
		margin:0 auto;
	}

	#services .nav-pills li a {
		border-radius: 0;
		height: 40px;
		margin-top:0;
		color: #B3D2EF;
		font-size: 16px;
		font-family: 'Roboto Slab';
		font-weight: 100;
		padding-top: 9px;
		margin-bottom: 2px;
		border-radius: 4px;
		padding-top: 11px;
	}

	#services .nav-pills li a.last {
		margin-bottom:0px;
	}

	#services .nav-pills li.active a {
		height: 60px;
		margin-top: 0px;
		border-top: 8px solid #2792f2;
		color: #eee;
		padding-top: 16px;
	}

/* about */

	#about {
		margin-bottom: 40px;
		padding-top: 60px;
	}

	#about_content {
		margin-top: 20px;
	}

	#about_content h4 {
		font-family: 'Roboto Slab',serif;
		font-weight: 300;
		font-size: 20px;
		color: #fff;
		text-align: left;
		display: block;
		padding: 20px 20px 10px;
		margin: 0;
	}

	#about_content p.emphasis {
		color: #7E93A6;
	}

	#about_content p {
		color: #81B0DA;
		font-size: 12px;
		text-align: left;
		margin: 0 auto;
		padding: 0 0 10px;
		width: 80%;
		font-weight: 300;
	}

	#about_content p.last {
		padding-bottom: 40px;
	}

/* contact */
	
	#contact {
		padding-top:60px;
	}

	#contact_content {
		margin-top: 10px;
	}

	#contact .one_quarter_col {
		display:none;
	}

	#contact .contact_form input {
		width: 60%;
		min-width: 220px;
	}

	#contact .contact_form button {
		float:left;
		/*margin: 10px 0 0;*/
	}

/* Footer */

	#footer .col {
		text-align: center;
	}

}

@media (min-width: 768px) {
	
	.my_container {
		width:100%;
		margin: 0 auto;
		max-width: 62.5em;
	}

	.half_col {
		width:48%;
		padding: 0;
		margin-right:4%;
	}

	.half_col.last {
		margin-right:0;	
	}

	.third_col {
		width: 32%;
		padding: 0;
		margin-right: 2%;
	}

	.third_col.last {
		margin-right: 0;
	}

	.two_thirds_col {
		margin-left: 2%;
		width: 64%;
		padding: 0;
	}

	.one_quarter_col {
		width:24%;
		padding: 0;
		margin: 0 2% 0 0;
	}

	.three_quarter_col {
		width:74%;
		padding: 0;	
	}


	.break_style_1 {
		height: 16px;
		border-bottom: 1px solid #ddd;
		background-image: url("../images/para_diag.jpg");
		margin-top: -4px;
	}

	.transition_bar {
		background: url("../images/transition_bar_blue.png") no-repeat;
		margin-top: -21px;
	}

	.transition_bar h3 {
		color: #5f7f9f;
		font-style: italic;
		font-size: 36px;
		font-family: 'Roboto Condensed';
		font-weight: 300;
		padding-top: 60px;
		margin-left: 15px;
	}

	.transition_box {
		display: none;
	}

	/* portfolio */

	#portfolio .half_col {
		margin-bottom: 50px;
	}

	#portfolio .nav-pills li {
		float: none;
		margin: 3px auto;
		width: 140px;
	}

	#portfolio .nav-pills li.last {
		margin-bottom:0px;
	}

	#portfolio .nav-pills li.active a {
		border-left: 5px solid #2792f2;
		background-image: none!important;
		background: transparent!important;
	}

	/* services */

	#services_carousel_small {
		display: none;
	}

	#services_nav {
		margin: 50px 0 0px;
	}

	.services_text {
		display: block;
	}

	#services .my_container {
		padding-bottom:60px;
		height: auto;
	}

	.services_subtitle {
		font-size: 24px;
		font-weight: 300;
		font-style: italic;
		font-family: 'Roboto Condensed';
		margin-bottom:20px;
	}

	#services p {
		font-size: .8em;
		font-weight: 100;
		font-family: 'Noto Sans';
	}

	.services_bullets {
		padding-left: 30px;
		border-left: 1px solid #aaa;
	}

	.services_bullets .services_bullets_text {
		font-size: 36px;
		line-height: 46px;
		color: #486885;
		font-weight: 100;
		margin-bottom: 30px;
		font-family: 'Roboto Slab', serif;

	}

	#services .tab-content {
		margin-top: 60px;
	}

	#services_nav li {
		display: block;
		float: left;
		width: 24%;
		height: 70px;
		margin: 0;
		border-right: 1px solid white;
	}

	#services_nav li.last {
		border-right: none;
	}

	#services .nav-pills li a {
	    border-radius: 0;
		height: 70px;
		margin-top:0;
		color: #B3D2EF;
		font-size: 1.4em;
		font-family: 'Roboto Slab';
		font-weight: 100;
		margin-bottom: 2px;
	}

	#services .nav-pills li a.last {
		margin-right:0px;
	}

	#services .nav-pills li.active a {
		height: 110px;
		margin-top: -40px;
		border-top: 8px solid #2792f2;
		color: #eee;
		border-radius: 5px 5px 0 0;
	}

	.services_nav_after {
		background-color: #2792f2;
		height: 18px;
		width: 96%;
	}

/* about */

	#about {
		margin-bottom: 40px;
	}

	.about_hero {
		background: none;
		min-height:0;
		margin: 0;
	}

	#about_content h4 {
		font-family: 'Roboto Slab',serif;
		font-weight: 200;
		font-size: 24px;
		color: #fff;
		text-align: center;
		display: block;
		padding: 30px 0 0;
		margin-bottom: 20px
	}

	#about_content p.emphasis {
		color: #bfd7e9;
	}

	#about_content p {
		color: #81B0DA;
		font-size: 14px;
		text-align: center;
		margin: 0 auto;
		padding: 0 0 30px;
		width: 65%;
		font-weight: 300;
	}

/* contact*/

	#contact_content p {
		font-size: 13px;
	}

}

@media (min-width: 768px) and (max-width: 1280px){

	.hero {
		height: 519px;
		background: url("../images/computer_nerds_1280_final.jpg") center 16px no-repeat;
	}

	.hero_btn {
		font-size: 1.5em;
		padding: 25px 30px;
		top: 240px;
		left: 40%;
	}
}

@media (min-width: 1281px) and (max-width:1600px) {

	.hero {
		height: 620px;
		background: url("../images/computer_nerds_1600_final.jpg") center 16px no-repeat;
	}

	.hero_btn {
		font-size: 1.5em;
		padding: 25px 30px;
		top: 285px;
		left: 43%;
	}
}

@media (min-width: 1601px) and (max-width:1920px){
	
	.hero {
		height: 620px;
		background: url("../images/computer_nerds_1920_final.jpg") center 16px no-repeat;
	}

	.hero_btn {
		font-size: 1.5em;
		padding: 25px 30px;
		top: 325px;
		left: 44%;
	}
}

@media (min-width: 1921px){

	.hero {
		height: 734px;
		background: url("../images/computer_nerds_xl_final.jpg") center 16px no-repeat;
	}

	.hero_btn {
		font-size: 1.5em;
		padding: 35px 40px;
		top: 450px;
		left: 46%;
	}
}

/* internet explorer hacks*/
a {
    outline: none!important;
}
