{% load static %}
{% load cms_tags %}

<a name="about"></a>
<div id='about' class='container my_container'>
	<div class='transition_bar'><div class='transition_box'></div><h3>About</h3></div>
	<div class='about_hero'></div>
	<div id='about_content'>
		<h4>NERD ALERT</h4>
		<p>I love building things, solving problems, and making my clients ecstatic about their new web toy. I also love coffee, card games, board games and basketball.</p>
		<p style='color:#aeb090'>I am a life-long resident of the Phoenix area, born and raised in Tempe. I discovered my love for web design and development while in Northern California studying computer science and statistics at the University of California Berkeley.</p>
		<p class='last'>While ZparkWeb is technically a one-man-show, I work with several excellent specialists to give you the best the Phoenix Valley has to offer. From custom designs all the way to online marketing campaigns, my experts will help craft a solution specifically tailored to your needs.</p>
	</div>
</div>