{% load static %}
{% load cms_tags %}

<a name="about"></a>
<div id='about' class='container-fluid'>
	<div class='container my_container'>
		<span class='transition'>/</span><h3>About</h3>
		<div class='img-responsive' style='background: url("{% static 'images/Computer-Nerd.png' %}") center center no-repeat; min-width:100%; min-height:550px; margin-top:-100px'></div>
		<div id='about_content' style='background-image: url("static/images/crosshatch.jpg")'>
			<h4>NERD ALERT</h4>
			<p>I love building things, solving problems, and making my clients ecstatic about their new web toy. I also love coffee, card games, board games and basketball.</p>
			<p>While ZparkWeb is technically a one-man-show, I work with several excellent specialists to give you the best the Phoenix Valley has to offer. From custom designs all the way to online marketing campaigns, my experts will help craft a solution specifically tailored to your needs.</p>
			<p>I am a life-long resident of the Phoenix area, born and raised in Tempe. I left for a couple years to finish my degree at UC Berkeley to study Computer Science and Statistics, where I graduated with a perfect 4.0 GPA. And yeah, I'm pretty proud of that.</p>
		</div>
	</div>
</div>