{% load static %}
{% load cms_tags %}
{% load crispy_forms_tags %}

<a name="contact"></a>
<div id='contact' class='shadow'>
	<div class='container my_container'>
		{% if name %}
			<div class='message_sent_redirect' title="We're happy to hear from you">
				<div style='color:#ddd; padding: 30px 0;'><p style='font-size: 24px; font-style:italic'>Thanks!</p><p style='font-size:18px'>Talk to you soon {{ name }}</p></div>
			</div>
		{% else %}
		<div class='transition_bar'><div class='transition_box'></div><h3>Get in touch to schedule a free consultation</h3></div>
		<div id='contact_content'>
			<div class='col one_quarter_col'>
				<div class='contact_item'>
					<h4>SurgeSite</h4>
					<p>1930 E Palmcroft Dr</p>
					<p>Tempe, AZ 85282</p>
					<p class='phone' itemprop="telephone"><a href="tel:+{{ company_phone_link }}">(&#054;&#048;&#050;)&#052;&#050;&#057;&#045;&#057;&#048;&#050;&#057;</a></p>
				</div>
				<div class='contact_item'>
					<h4>INQUIRIES</h4>
					<p class='general_contact'>Jared Park</p>
					<p class='general_email'><a href='mailto:&#099;&#111;&#110;&#116;&#097;&#099;&#116;&#064;&#115;&#117;&#114;&#103;&#101;&#115;&#105;&#116;&#101;&#046;&#099;&#111;&#109;'>&#099;&#111;&#110;&#116;&#097;&#099;&#116;&#064;&#115;&#117;&#114;&#103;&#101;&#115;&#105;&#116;&#101;&#046;&#099;&#111;&#109;</a></p>
				</div>
				<div class='contact_item'>
					<h4>SUPPORT</h4>
					<p class='support_email'><a href='mailto:&#115;&#117;&#112;&#112;&#111;&#114;&#116;&#064;&#115;&#117;&#114;&#103;&#101;&#115;&#105;&#116;&#101;&#046;&#099;&#111;&#109;'>&#115;&#117;&#112;&#112;&#111;&#114;&#116;&#064;&#115;&#117;&#114;&#103;&#101;&#115;&#105;&#116;&#101;&#046;&#099;&#111;&#109;</a></p>
				</div>
			</div>
			<div class='col three_quarter_col'>
				<form role='form' method='post' class='contact_form' action='#contact'>
					{% csrf_token %}
					<div class="form_icon form_name {% if 'name' in error_fields %}error_field{% endif %}"></div>
					<div class="{% if 'name' in error_fields %}error_field{% endif %}" title='name icon'>
						<input for='id_name' name="name" placeholder='{{ name_placeholder }}' type="text" value='{{ name_value }}'>
					</div>
					<div class="form_icon form_email"></div>
					<div class="{% if 'email' in error_fields %}error_field{% endif %}" title='email icon'>
						<input for='id_email' name="email" placeholder="{{ email_placeholder }}" type="email" value='{{ email_value }}'>
					</div>
					<div class="form_icon form_phone"></div>
					<div class="{% if 'phone' in error_fields %}error_field{% endif %}" title='phone icon'>
						<input for='id_phone' name="phone" placeholder="{{ phone_placeholder }}" type="text" value='{{ phone_value }}'>
					</div>
					<div class="form_icon form_message"></div>
					<div class="{% if 'message' in error_fields %}error_field{% endif %}" title='message icon'>
						<input for='id_message' maxlength="400" name="message" placeholder="{{ message_placeholder }}" type="text" value='{{ message_value }}'>
					</div>
					<button type="submit" name="contact" class="btn">Send</button>
				</form>
			</div>
		</div>
		{% endif %}
	</div>
</div>