{% load static %}
{% load cms_tags %}

<a name="services"></a>
<div id='services' class='container-fluid' style='background-image: url("static/images/para_diag.jpg")'>
	<div class='container my_container services_content'>
		<span class='transition'>/</span><h3>Services</h3>
		<ul id='services_nav' class='nav nav-pills nav-justified' role='tablist'>
			<li role='presentation' class='active'><a data-toggle="tab" href="#services_products" style='background-image: url("static/images/crosshatch.jpg")'>Products</a></li>
			<li role='presentation'><a data-toggle="tab" href="#services_integration" style='background-image: url("static/images/crosshatch.jpg")'>Integration</a></li>
			<li role='presentation'><a data-toggle="tab" href="#services_platform" style='background-image: url("static/images/crosshatch.jpg")'>Platform</a></li>
			<li role='presentation'><a class='last' data-toggle="tab" href="#services_compatibility" style='background-image: url("static/images/crosshatch.jpg")'>Compatibility</a></li>
		</ul>
		<div class='tab-content no_pad'>
			<div role='tabpanel' class='tab-pane active fade in' id='services_products'>
				<div class='col third_col'>
					<div class='services_subtitle'>We don’t build just websites.</div>
					<p>We build revenue-generating assets disguised as websites.</p>
					<p>Under every campaign, landing page and integration lies a rock solid website and supporting assets. We build beautiful websites, code custom features, create impactful designs and support our work as part of our standard product offering.</p>
					<p>We understand that a custom home requires a solid foundation which is why we spend significant time on the fundamentals of the web. These fundamentals give us the ability to expand your website to a revenue generating machine.</p>
				</div>
				<div class='col two_thirds_col services_right'>
					<div class='services_right_text'>Custom Website Development</div>
					<div class='services_right_text'>Mobile Friendly</div>
					<div class='services_right_text'>Logos & Branding</div>
					<div class='services_right_text'>Email Campaigns</div>
					<div class='services_right_text'>Monthly Support</div>
				</div>
			</div>
			<div role='tabpanel' class='tab-pane fade' id='services_integration'>
				<div class='col third_col'>
					<div class='services_subtitle'>Your website shouldn’t stand on its own.</div>
					<p>Our websites double as web command centers. We help each of your digital touch points talk to one another so data flows easily between systems. Streamlined data flow means automated systems, reduced data entry and an improved user experience.</p>
					<p>Sometimes your website needs to talk to an email client, CRM, e-commerce app or social media outlet. We’re able to guide you through the possibilities and architect a solution to meet your goals. We pick up where out-of-the-box solutions drop off because we understand you’re not a one size fits all solution.</p>
				</div>
				<div class='col two_thirds_col services_right'>
					<div class='services_right_text'>CRM integration</div>
					<div class='services_right_text'>Facebook API</div>
					<div class='services_right_text'>3rd party softward</div>
					<div class='services_right_text'>Payment Processing</div>
				</div>
			</div>
			<div role='tabpanel' class='tab-pane fade' id='services_platform'>
				<div class='col third_col'>
					<div class='services_subtitle'>Run your business and your website.</div>
					<p>Your website’s platform is the foundation for its growth as your business expands. It’s critical you choose the correct technology to avoid site redevelopment and hindering growth in the future.</p>
					<p>Your website’s platform isn’t important for just technical reasons, selecting the right CMS means you spend just the right amount of time on your website. Time saved in management means more time to grow your business.</p>
				</div>
				<div class='col two_thirds_col services_right'>
					<div class='services_right_text'>Custom</div>
					<div class='services_right_text'>Django</div>
					<div class='services_right_text'>Wordpress</div>
					<div class='services_right_text'>Drupal</div>
				</div>
			</div>
			<div role='tabpanel' class='tab-pane fade' id='services_compatibility'>
				<div class='col third_col'>
					<div class='services_subtitle'>Mobile isn’t optional.</div>
					<p>If you’ve ever accessed the Web from a smartphone or tablet, you’ve experienced the frustration of a site not optimized for mobile visitors.</p>
					<p>Nearly a third of all Internet traffic comes from users on a mobile device. Browsing from a phone or tablet is a highly personalized experience, and responsive design connects with users on their terms, from a single website. Responsive means improved user experience, increased conversions, lowered bounce rates, and reduced maintenance.</p>
				</div>
				<div class='col two_thirds_col services_right'>
					<div class='services_right_text'>Web based apps</div>
					<div class='services_right_text'>Responsive design</div>
					<div class='services_right_text'>Cross-browser testing</div>
					<div class='services_right_text'>Mobile Development</div>
					<div class='services_right_text'>Custom email</div>
				</div>
			</div>
			
		</div>
	</div>
</div>