{% load static %}
{% load cms_tags %}

<a name="services"></a>
<div id='services'>
	<div class='container my_container'>
		<div class='transition_bar'><div class='transition_box'></div><h3>Services</h3></div>
		<ul id='services_nav' class='nav nav-pills nav-justified' role='tablist'>
			<li role='presentation' class='active'><a data-toggle="tab" href="#services_products">Products</a></li>
			<li role='presentation'><a data-toggle="tab" href="#services_integration">Integration</a></li>
			<li role='presentation'><a data-toggle="tab" href="#services_platform">Platform</a></li>
			<li role='presentation' class='last'><a class='last' data-toggle="tab" href="#services_compatibility">Compatibility</a></li>
		</ul>
		<div class='services_nav_after'></div>
		<div class='tab-content no_pad'>
			<div role='tabpanel' class='tab-pane active fade in' id='services_products'>
				<div class='col third_col services_text'>
					<div class='services_subtitle'>It's not just a website.</div>
					<p>It's a money-making machine disguised as a website.</p>
					<p>We build data-driven websites, code custom applications and features, and support all of our work.</p>
					<p>You get a polished website, fine-tuned to maximize your financial returns from new and returning visitors.</p>
					<p>Just as your ability to make money in your business is based on a solid foundation of technical knowledge and skills, the fundamentals of website development are vital to the success of your website. Our deep knowledge of web development standards creates a solid foundation for the success of your website.
				</div>
				<div class='col two_thirds_col services_bullets'>
					<div class='services_bullets_text'>Custom Web Development</div>
					<div class='services_bullets_text'>User Accounts</div>
					<div class='services_bullets_text'>Mobile Friendly</div>
					<div class='services_bullets_text'>Payment Processing</div>
					<div class='services_bullets_text'>Monthly Support</div>
				</div>
			</div>
			<div role='tabpanel' class='tab-pane fade' id='services_integration'>
				<div class='col third_col services_text'>
					<div class='services_subtitle'>Building a website is just the beginning.</div>
					<p>We provide data-driven web solutions, allowing your databases to talk to each another through a web-based command center.</p>
					<p>Stream-lined data = automated systems = reduced data entry + improved user experience.</p>
					<p>Maybe you need your website to work with your email client. Maybe you use a CRM or e-commerce to manage customers. Maybe you just want a seamless integration of social media services like Yelp, Facebook, or Twitter. In any case we will help guide you through the process to create a solution that meets your goals.</p>
					<p>We work to deeply understand your needs to develop custom solutions to your unique situation.</p>
				</div>
				<div class='col two_thirds_col services_bullets'>
					<div class='services_bullets_text'>CRM Integration</div>
					<div class='services_bullets_text'>Payment Processing</div>
					<div class='services_bullets_text'>Email Integration</div>
					<div class='services_bullets_text'>3rd party software</div>
					<div class='services_bullets_text'>Social Media</div>
				</div>
			</div>
			<div role='tabpanel' class='tab-pane fade' id='services_platform'>
				<div class='col third_col services_text'>
					<div class='services_subtitle'>Run your business, not your website.</div>
					<p>The web platform you choose will not only impact the performance and security of your website today, it will be a critical foundation for the future growth of your website as your business expands. Choosing the right technology today will avoid the cost of site redevelopment or stagnation in the future.</p>
					<p>All of our websites include a customized Content Management System and Administrator interface. Spend exactly as much time managing your website as you want with our custom maintenance and continuing development plans. Your time is too valuable to spend fighting with outdated or mass-marketed, one-size-fits-all solutions.</p>
				</div>
				<div class='col two_thirds_col services_bullets'>
					<div class='services_bullets_text'>Custom</div>
					<div class='services_bullets_text'>Django</div>
					<div class='services_bullets_text'>Wordpress</div>
				</div>
			</div>
			<div role='tabpanel' class='tab-pane fade' id='services_compatibility'>
				<div class='col third_col services_text'>
					<div class='services_subtitle'>Mobile is a Must.</div>
					<p>Over 40% of all internet traffic comes from mobile or tablet users and this number is expected to grow to over 60% by 2018 (less than 3 years from now!)</p>
					<p>Responsive, mobile-friendly web design means that your visitors will always get the full experience, no matter what they use to find you.</p>
					<p>Increased conversions, improve user experience, and lower bounce rates with responsive design.</p>
				</div>
				<div class='col two_thirds_col services_bullets'>
					<div class='services_bullets_text'>Responsive design</div>
					<div class='services_bullets_text'>Cross-browser testing</div>
					<div class='services_bullets_text'>Web based apps</div>
					<div class='services_bullets_text'>Custom email</div>
				</div>
			</div>
		</div>
		<div id="services_carousel_small" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner" role="listbox">
				<div class='item active'>
					<div class='services_carousel_slide_header'>Products</div>
					<div class='col two_thirds_col services_bullets'>
						<div class='services_bullets_text'>Custom Web Development</div>
						<div class='services_bullets_text'>User Accounts</div>
						<div class='services_bullets_text'>Mobile Friendly</div>
						<div class='services_bullets_text'>Payment Processing</div>
						<div class='services_bullets_text'>Monthly Support</div>
					</div>
				</div>
				<div class='item'>
					<div class='services_carousel_slide_header'>Integrations</div>
					<div class='col two_thirds_col services_bullets'>
						<div class='services_bullets_text'>CRM Integration</div>
						<div class='services_bullets_text'>Payment Processing</div>
						<div class='services_bullets_text'>Email Integration</div>
						<div class='services_bullets_text'>3rd party software</div>
						<div class='services_bullets_text'>Social Media</div>
					</div>
				</div>
				<div class='item'>
					<div class='services_carousel_slide_header'>Platform</div>
					<div class='col two_thirds_col services_bullets'>
						<div class='services_bullets_text'>Custom</div>
						<div class='services_bullets_text'>Django</div>
						<div class='services_bullets_text'>Wordpress</div>
					</div>
				</div>
				<div class='item'>
					<div class='services_carousel_slide_header'>Compatibility</div>
					<div class='col two_thirds_col services_bullets'>
						<div class='services_bullets_text'>Responsive design</div>
						<div class='services_bullets_text'>Cross-browser testing</div>
						<div class='services_bullets_text'>Web based apps</div>
						<div class='services_bullets_text'>Custom email</div>
					</div>
				</div>
			</div>
			<a class="left carousel-control" href="#services_carousel_small" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#services_carousel_small" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
</div>