{% load static %}
{% load cms_tags %}

<footer id='footer' class=" navbar-bottom">
  <div class="footer_wrapper" style='background: url("/static/images/para_diag_sm_repeat.jpg");'>
    <div class='footer_content' style='background: white'>
      <div class='container my_container'>
        <div class='col third_col' style='padding-left:0'>
          <a class='custom-logo' href="{% page_url 'home' %}"><img src="{% static logo_file_name %}" alt="{{ company_name }}"></a>
        </div>
        <div class='col third_col footer_social'>
          {# {% include 'misc_pages/social_links.html' %} #}
        </div>
        <div class='col third_col last footer_copyright'>
          <p>&copy; 2015, SurgeSite LLC</p>
        </div>
      </div>
    </div>
  </div>
</footer>