{% load static %}
{% load cms_tags %}

<footer id='footer' class="navbar navbar-default navbar-bottom custom-footer theme-text" role="navigation">
  <div class="container-fluid">
    <div class='row'>
      <div class='col-md-4 connect'>
        <h4>Connect With Us</h4>
        <!-- {% include 'misc_pages/social_links.html' %} -->
        {% include 'misc_pages/email.html' %}
        {% if form_errors %}
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#contact_modal">
          Form Error/s, please try again!
        </button>
        {% elif first_name %}
        {# <a href="{% url 'about' %}"> #}
        <a href="{% page_url 'about' %}">
          <button type="button" class="btn btn-danger">
            Thanks for getting in touch!
          </button>
        </a>
        {% elif contact_form %}
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#contact_modal">
          {{ call_to_action_button_text }}
        </button>
        {% else %}
        <a href="{% url 'contact' %}">
          <button type="button" class="btn btn-danger">{{ call_to_action_button_text }}</button>
        </a>
        {% endif %}
      </div>
      <div class='col-md-4 sitemap'>
        <ul>
          <li><h4>Sitemap</h4></li>
          {# <li><a href="{% url navbar_link1_name %}">{{ navbar_link1_text }}</a></li> #}
          {# <li><a href="{% url navbar_link2_name %}">{{ navbar_link2_text }}</a></li> #}
          <li><a href="{% page_url navbar_link1_name %}">{{ navbar_link1_text }}</a></li>
          <li><a href="{% page_url navbar_link2_name %}">{{ navbar_link2_text }}</a></li>
          <li><a href="{% url navbar_link3_name %}">{{ navbar_link3_text }}</a></li>
        </ul>
      </div>
      <div class='col-md-4 copyright'>
        {% comment %} 
        before cms:
        <a class='custom-logo' href="{% url 'index' %}"><img class='img-responsive' src="{% static logo_file_name %}"></a>
        {% endcomment %}
        <a class='custom-logo' href="{% page_url 'home' %}"><img class='img-responsive' src="{% static logo_file_name %}"></a>
        <a href="{% url 'contact' %}">&copy;{{ footer_copyright }}</a>
      </div>
  </div>
</footer>
<script>
//   $(document).ready(function() {

//    var docHeight = $(window).height();
//    var footerHeight = $('#footer').height();
//    var footerTop = $('#footer').position().top + footerHeight;

//    if (footerTop < docHeight) {
//     $('#footer').css('margin-top', 10 + (docHeight - footerTop) + 'px');
//    }
//   });
</script>